#game-settings-container {
    display: grid;
    grid-template-areas: '. .'
                         '. .'
                         '. .'
                         '. .'
                         '. .';
    text-align: left;
}

#lobby-bottom-panel {
    display: grid;
    margin: 0;
    row-gap: 0.1%;
    column-gap: 0.1%;
    grid-template-areas: '. . . ready startb . .';
    grid-template-columns: repeat(7, 1fr);
}

#ready-button {
    grid-area: ready;
    background-color: darkred;
}
  
#start-game-button {
    width: 100%;
    grid-area: startb;
    background-color: rgba(120, 120, 120, 20);
    border-radius: 25px;
    margin: 0 auto;
}
