#playing-screen {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-areas: 'info deck card'
                         'nav nav nav';
    grid-template-columns: .75fr 4fr 1.5fr;
    grid-template-rows: 9fr 1fr;
    row-gap: .4%;
    column-gap: .2%;
}

.playing-panel {
    border-style: solid;
    border-color: black;
    border-width: 2px;
    box-shadow: 4px 4px 4px;
}

#playing-information-panel {
    grid-area: info;
    overflow: auto;
}

#deck-data {
    grid-area: deck-data;
    width: 100%;
    height: 20%;
}

#log-container{
    height: 70%;
    width: 100%;
    overflow: auto;
}

#playing-log {
    padding: 0;
    list-style: none;
}

.playing-log-entry {
    background-color: linen;
}

.playing-log-entry:nth-child(odd){
    background-color: lightgrey;
}

#playing-view-cards {
    position: absolute;
    width: 100%;
    height: 20%;
    top: 40%;
    background-color: rgba(0, 0, 0, 40);
}

#playing-deck-panel {
    position: relative;
    grid-area: deck;
    overflow: auto;
}

#playing-card-panel {
    grid-area: card;
    text-align: center;
}

#playing-bottom-bar {
    grid-area: nav;
    display: grid;
    grid-template-areas: 'draw reroll . . . download . . . ability10 ability9 ability8 ability7 ability6 ability5 ability4 ability3 ability2 ability1 .';
    grid-template-columns: repeat(20, 1fr);
    column-gap: .1%;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

.large-card {
    width: 75%;
    margin: 2% auto;
}

#draw-button {
    grid-area: draw;
}

#reroll-button {
    grid-area: reroll;
}

.ability {
    position: relative;
    border: 1px solid black;
    text-align: center; 
}

/* Tooltip text */
.ability .ability-tooltip {
    visibility: hidden;
    height: fit-content;
    width: 300%;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
   
    position: absolute;
    z-index: 1;
    bottom: 110%;
    left: 50%;
    margin-left: -150%;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .ability:hover .ability-tooltip {
    visibility: visible;
    animation-name: fadein;
    animation-duration: .6s;
  }

  @keyframes fadein {
    from {opacity: 0;}
    to   {opacity: 1;}
  }